@use '@carbon/react/scss/motion' as motion;
@use '@carbon/react/scss/colors' as colors;
@use '@carbon/react/scss/theme' as theme;
@use '@carbon/react/scss/spacing' as spacing;

.video {
  width: 100%;
}

.video-container {
  position: relative;
  display: table;
  width: 100%;
}

div.video-button {
  position: absolute;
  z-index: 10;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  width: 4.5rem;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: colors.$blue-60;
  border-radius: 50%;
  transition: all motion.$duration-moderate-01 motion(entrance, productive);
}

div.video-button:focus {
  outline: 2px solid theme.$focus;
  outline-offset: -2px;
}

div.video-button:hover {
  background-color: colors.$gray-90;
  opacity: 0.8;
}

div.video-button > svg {
  margin-left: spacing.$spacing-02;
  fill: theme.$icon-inverse;
  transition: all motion.$duration-moderate-01 motion(entrance, productive);
}

div.video--is-playing > svg {
  margin-left: 0;
}

// iframe
.vimeo {
  position: relative;
  overflow: hidden;
  height: 0;
  // hack to allow vimeo videos to display correctly and assume full width available
  padding-bottom: 56.543%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-container:not(:hover) div.video--is-playing,
.video-container:not(:hover) div.video--is-playing > svg {
  opacity: 0;
}
