#
# This .dockerignore file is used for base image builds
#

# Files
/.*.js
**/.*ignore
**/.env*
**/*.md
**/Dockerfile
sonar-project.properties
.tsbuildinfo

# Dirs
**/dist/
**/generated/
**/node_modules/
**/src/test/
.github/
.husky/
.test-coverage/
.vscode/
docs/
scripts/

#
# Service-Specific
#

# web-app
services/web-app/.carbon/
services/web-app/.next/
services/web-app/pages/samples/
services/web-app/public/data/
