# Node
node_modules/
package*.json

# Build
.carbon/
.next/
dist/
out/

# Changelogs
CHANGELOG.md

# IDE-specific
.vscode/
.history/

# Generated
generated/
.test-coverage/
.dev/

# Github workflows
.github/workflows/

# Storybook build output
.storybook-static/

# Web App
services/web-app/public/data/
services/web-app/public/vendor/prismjs/

# Enable config file linting except for copyright file
!.*.js
.copyright.js

# Enable storybook story linting
!.storybook/
