# Node
node_modules/
package*.json

# Build
.carbon/
.next/
dist/

# Changelogs
CHANGELOG.md

# IDE-specific
.vscode/

# Generated
generated/
.test-coverage/
.dev/

# Github workflows
.github/workflows/

.history/

# Web App
services/web-app/public/data/
!services/web-app/.storybook/
