# Node
node_modules/
package*.json

# Build
.carbon/
.next/
dist/

# Changelogs
CHANGELOG.md

# IDE-specific
.vscode/
.history/

# Generated
generated/
.test-coverage/
.dev/

# Github workflows
.github/workflows/


# Web App
services/web-app/public/data/
!services/web-app/.storybook/

# Enable config file linting
!.*.js
.copyright.js
