# npm
node_modules/

# Typescript output
dist/
*.tsbuildinfo

# Generated stuff
.dev/
.test-coverage/
generated/

# OS stuff
.DS_Store

# IDE stuff
.vscode/
.history/

# Dotenv stuff
.env

# Storybook build output
.storybook-static/
