# Dependabot does not currently support npm v8. When it does, this can be uncommented.
# (https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates#package-ecosystem)
# engine-strict=true
# Allocate more memory for prod and dev builds
node-options="--max-old-space-size=8192"
