# Node
node_modules/
package*.json

# Build
.carbon/
.next/
dist/

# Changelogs
CHANGELOG.md

# IDE-specific
.vscode/
.history/

# Generated
generated/
.test-coverage/
.dev/

# Github workflows
.github/workflows/

# Storybook build output
.storybook-static/

# Web App
services/web-app/public/data/

# Enable config file linting
!.*rc.js
