@use '@carbon/react/scss/theme' as theme;
@use '@carbon/react/scss/motion' as motion;

.container {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 1;
  transition: opacity motion.$duration-fast-01 motion.motion(standard, productive);

  svg {
    fill: theme.$icon-primary;
  }
}

.container.hidden {
  opacity: 0;
}

.container a {
  text-decoration: none;
}

.container button::-moz-focus-inner {
  border: 0;
}

.container button,
.container a {
  display: inline-flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  &:active {
    background-color: theme.$background-active;
  }

  &:hover:not(:active) {
    background-color: theme.$background-hover;
  }
}

.container .tooltip .trigger {
  border-bottom: none;

  &:focus {
    outline: 2px solid theme.$focus;
    outline-offset: -2px;
  }

  svg {
    outline: none;
  }
}
