@use '@carbon/react/scss/spacing' as spacing;
@use '@carbon/react/scss/type' as type;
@use '@carbon/react/scss/theme' as theme;
@use '@carbon/react/scss/utilities/convert' as convert;
@use '@carbon/react/scss/breakpoint' as breakpoint;

.glossary-entry {
  padding-top: convert.rem(36px);
  color: theme.$text-primary;
}

.h2.glossary-entry__main-heading {
  @include type.type-style('fluid-display-02', true);

  span {
    text-transform: lowercase;
  }
}

.glossary-entry__desc {
  padding: 0;
  margin-top: spacing.$spacing-02;
}

.glossary-entry__subtext {
  @include type.type-style('body-compact-02');

  padding: 0;
  margin-top: spacing.$spacing-02;

  color: theme.$text-secondary;
  font-style: italic;
}

.h2-container {
  &.h2-container {
    margin-top: 0;
  }

  + * {
    margin-top: 0;
  }
}

.h4-container {
  &.h4-container {
    margin-top: spacing.$spacing-06;
  }
}

.h2-container,
.paragraph-container + .h2-container {
  margin-top: spacing.$spacing-09;

  @include breakpoint.breakpoint(md) {
    margin-top: spacing.$spacing-11;
  }
}

.h2 {
  @include type.type-style('fluid-heading-04', true);
}

.h4-container,
.paragraph-container + .h4-container {
  margin-top: spacing.$spacing-07;
}

.h4 {
  @include type.type-style('heading-02');
}
